<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="fragments/navbar::navbar(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
    <a th:href="@{/book/back}"><button class="btn btn-primary" style="margin-left: 50px">Back</button></a>
    <h1 style="text-align: center">Book Update</h1>
    <hr/>
    <div class="row" style="margin-left: 70px;padding: 0 200px 200px 200px">
            <hr/>
            <form th:action="@{/book/update}" th:method="post" th:object="${bookDto}" enctype="multipart/form-data">
                <label>
                    <input type="text" th:field="*{id}" hidden>
                </label>
                <div class="mb-3">
                    <label for="bookName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="bookName" th:field="*{name}" placeholder="Book Name"
                           required>
                </div>
                <div class="mb-3">
                    <label for="boOfPage" class="form-label">No.Of page</label>
                    <input type="text" class="form-control" th:field="*{noOfPage}" id="boOfPage" placeholder="No.Of page" required>
                </div>
                <div class="mb-3">
                    <label for="bookIsbn" class="form-label">Isbn</label>
                    <input type="text" class="form-control" th:field="*{isbn}" id="bookIsbn"
                           placeholder="Isbn" required>
                </div>
                <div class="mb-3">
                    <label for="bookRating" class="form-label">Rating</label>
                    <input type="text" class="form-control" th:field="*{rating}" id="bookRating"
                           placeholder="Rating" required>
                </div>
                <div class="mb-3">
                    <label for="bookStock" class="form-label">Stock Count</label>
                    <input type="text" class="form-control" th:field="*{totalStock}" id="bookStock"
                           placeholder="Stock Count" required>
                </div>
                <div class="mb-3">
                    <label for="bookDate" class="form-label">Published Date</label>
                    <input type="text" class="form-control" th:field="*{publishedDate}" id="bookDate"
                           placeholder="Published Date(dd-mm-yyyy)" required>
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">Photo</label>
                    <input type="file" class="form-control" th:field="*{multipartFile}" id="photo" required>
                </div>
                <div class="mb-3">
                    <label for="bookCategory" class="form-label">Category</label>
                    <div class="col-sm-8">
                        <select th:field="*{category}" class="form-label" id="bookCategory" required>
                            <th:block th:each="cat : ${categoryData}">
                                <option th:text="${cat.getName()}" th:value="${cat.getId()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="bookAuthor" class="form-label">Author</label>
                    <div class="col-sm-8">
                        <select th:field="*{authors}" class="form-label" id="bookAuthor" multiple required>
                            <th:block th:each="aut : ${authorData}">
                                <option th:text="${aut.getName()}" th:value="${aut.getId()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <button type="reset" class="btn btn-danger">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p th:text="${message}"></p>
        </div>
</section>
</body>
</html>